body {
    background: url('../recursos/inicio_img.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-size: medium;
    font-weight: 600;
}

.conten_user div {
    margin-top: 30px;
}

.textos:hover {
    color: #E39B24;
}

.capa {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.55;
    z-index: 10;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.capa_2 {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 20;
}

a.b-red {
    font-size: small;
    color: red;
}

a.b-green {
    font-size: small;
    color: green;
}

a.b-red:hover {
    border: 1px solid red;
}

a.b-green:hover {
    border: 1px solid green;
}

@media only screen and (min-width: 600px) and (max-width:992px) {
    .conten_user {
        margin-top: 20%;
    }
}

@media only screen and (max-width: 600px) {
    .conten_user {
        margin-top: 20%;
    }
}